{% extends 'base.html.twig' %}

{% block body %}
    <h1>City list</h1>
<div class="table-responsive">
    <table class="table table-hover records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Location</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for city in cities %}
            <tr>
                <td><a href="{{ path('city_show', { 'id': city.id }) }}">{{ city.id }}</a></td>
                <td>{{ city.name }}</td>
                <td>{{ city.location }}</td>
                <td>
                    <a class="btn btn-sm btn-info" href="{{ path('city_show', { 'id': city.id }) }}">
                        <span class="glyphicon glyphicon-share"></span> Show</a>

                    <a class="btn btn-sm btn-default" href="{{ path('city_edit', { 'id': city.id }) }}">
                        <span class="glyphicon glyphicon-edit"></span> Edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

    <a class="btn btn-success" href="{{ path('city_new') }}">Create a new entry</a>

{% endblock %}
