{% extends 'base.html.twig' %}

{% block body %}
    <h1>Hotel</h1>
<div class="col-lg-4">
    <div class="table-responsive">
        <table class="table table-bordered table-hover record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ hotel.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ hotel.name }}</td>
            </tr>
            <tr>
                <th>Star_rating</th>
                <td>{{ hotel.starrating }}</td>
            </tr>
            <tr>
                <th>Price_range</th>
                <td>{{ hotel.pricerange }}</td>
            </tr>
        </tbody>
    </table>
</div>

<a class="btn btn-info" href="{{ path('hotel_index') }}">Back to the list</a>

<a class="btn btn-warning" href="{{ path('hotel_edit', { 'id': hotel.id }) }}">Edit</a>

{{ form_start(delete_form) }}
    <input class="btn btn-danger" type="submit" value="Delete">
{{ form_end(delete_form) }}
</div>
{% endblock %}
